:root {
    --primary-color: #f1c40f;
    --secondary-color: #2c3e50;
    --tertiary-color: #ecf0f1;
    --width-screen: 1200px;
    --pink--color: #e06c93;
}

.info {
    padding: 0px;
    width: var(--width-screen);
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.info-content {
    border: 1px solid var(--tertiary-color);
    height: 100%;

}

.img-content {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    >li {
        list-style: none;
        border: 1px solid var(--tertiary-color);
        border-radius: 10px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);

    }

}

.img-item {

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;

    }
}

.content__info--apply {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.content__info--times {
    border-bottom: 1px solid var(--tertiary-color);
    padding: 10px;
}

.content__info--rating {
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid var(--tertiary-color);
}

.btn__apply {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--pink--color);
}

.info-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--tertiary-color);

    >div {
        padding: 5px 7px;
        border-radius: 25px;
        border: 1px solid var(--pink--color);
    }
}